/* opens sans google fonts */
/* opens sans google fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


/* share styles */
/* share styles */


body {
    margin: 0px;
}

section {
    margin-top: 130px;
    margin-bottom: 130px;
}

.primary-bg {
    background-color: #FFF8F3;
}

.dark-01 {
    color: #181818;
}

.dark-02 {
    color: #474747;
}

.dark-03 {
    color: #757575;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 30px;
    border-radius: 5px;
    border: none;
    background-color: #FD6E0A;
}

/* navbar syles */
/* navbar syles */

header {
    background-image: url(./images/developer.png), url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left, bottom right;
    background-size: auto, auto 470px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 230px;
}

.nav-title {

    font-size: 45px;
    font-weight: 800;
    margin: 0px 0px;
}

.nav-item-container {
    display: flex;
    align-items: center;
    padding-left: 0px;
}

.span-item {
    color: #FD6E0A;
}

ul li {
    list-style: none;
    margin-right: 15px;
}

ul li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */
/* banner styles */


.banner-container {
    display: flex;
    padding: 80px 35px 0px 230px;
    align-items: center;
    gap: 150px;
}

.banner-greeting {
    font-size: 40px;
    font-weight: 600;
    margin: 0px 0px;
}

.banner-title {
    font-size: 70px;
    font-weight: 800;
    margin: 0px 0px;
}

.banner-container img {
    width: 570px;
}

.call-btn {
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 20px;
}


/* main section */
/* main section */


main {
    max-width: 1100px;
    margin: 0 auto;
}

/* about section */

.about-section-container {
    text-align: center;
    padding: 130px;
    border-radius: 15px;
}

.about-title {
    font-size: 30px;
    font-weight: 700;
}

.about-des {
    font-size: 18px;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
}

.about-item-info {
    font-size: 20px;
    font-weight: 700;
}


/* what i do section styles */
/* what i do section styles */
.i-do-content {
    padding: 0 130px 0 130px;
    text-align: center;
}

.i-do-title {
    font-size: 30px;
    font-weight: 700;
}

.i-do-des {
    font-family: 18px;
}

/* i do card style */

.do-card-container {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.card-container {
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
    border-radius: 5px;
}

.card-title {
    font-size: 20px;
    font-weight: 700;
}

.hide {
    display: none;
}


/* media query */
/* media query */

/* small device media query */

@media screen and (max-width:576px) {

    .nav-bar,
    .banner-container,
    .about-section-container,
    .about-info-container,
    .card-container,
    .do-card-container {
        flex-direction: column;
        align-items: center;
    }

    header {
        background-image: none;
    }

    .nav-bar,
    .banner-container,
    .about-section-container,
    .i-do-content {
        padding: 40px 20px;
    }

    .banner-container {
        gap: 50px;
        padding-bottom: 0px;
    }

    ul .btn-primary {
        padding: 18px 15px;
        font-size: 18px;
    }

    .banner-greeting {
        font-size: 30px;
    }

    .banner-title {
        font-size: 40px;
    }

    .banner-container img {
        width: 100%;
    }

    .call-btn {
        margin-top: 20px;
    }
}


@media screen and (min-width:576px) and (max-width:1024px) {

    .nav-bar,
    .banner-container,
    .about-section-container,
    .about-info-container {
        flex-direction: column;
    }

    header {
        background-image: none;
    }

    .do-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 50px;
    }

    .about-section-container {
        padding: 50px 80px;
    }

    .nav-bar,
    .banner-container {
        padding: 40px 20px 0px 20px;
        text-align: center;
    }

    .banner-container img {
        width: 100%;
    }

    .banner-container {
        gap: 50px;
    }

    .banner-greeting {
        font-size: 40px;
    }

    .banner-title {
        font-size: 50px;
    }

    ul li {
        margin-top: 40px;
        margin-right: 60px;
        text-align: center;
    }
}